body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/paisaje1.jpg');
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formCont {
    background-color: rgba(255, 255, 255, 0.5); 
    backdrop-filter: blur(5px); 
    padding: 40px;
    border-radius: 12px;
    width: 30%; 
    text-align: left;
    margin: 100px 0 100px 0;
    color: #333;

}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;

}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em; 
}



button {
    background-color: #F1C40F;
    color: #010101;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%; 
    font-size: 1em; 
}

button:hover {
    background-color: #1d1e1e;
    color: #F1C40F;
}

.success-message {
    color: green;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-bottom: 20px;
}
